{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block monTitre %}Page listant les familles d'animaux{% endblock %}

{% block body %}
    {% for famille in familles %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="border-bottom border-primary">{{ famille.libelle|capitalize }}</h2>
                <div>{{ famille.description }}</div>
            </div>
            {% for animal in famille.animaux %}
                <div class="col-sm-12 col-md-3 text-center d-flex align-self-stretch">
                    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <img src="{{asset('images/'~ animal.image)}}" class="card-img-top" alt="{{ animal.image }}">
                        <div class="card-body m-0 p-1">
                            <h2><a href="{{ path('afficher_animal',{'id' : animal.id }) }}">{{ animal.nom }}</a></h2>
                            <div class="card-text">
                                <a href="{{ path('afficher_famille', {'id' : famille.id}) }}"
                                    class="btn btn-primary">{{ animal.famille.libelle }}</a>
                                {% for continent in animal.continents %}
                                    <a href="{{ path('afficher_continent', {'id':continent.id}) }}" class="btn btn-warning">{{ continent.libelle }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}